{{> head }}
{{> navbar }}

<div class="row">
    </div class="col-8">
        <h1>El puente de San Francisco</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum magnam blanditiis cum odio eos alias ipsam laborum quod molestiae voluptatem accusantium, maxime id maiores sequi ipsa aliquam totam ex adipisci?
        </p>
    </div>

    </div class="col-4">
        <img src="assets/img/puente.jpg" class="img-thumbnail"
    </div>
</div>

{{> footer }}