{{> head }}
{{> navbar }}

    <div class="jumbotron">
        <h1 class="display-4">Hola, {{ capitalizar nombre }}</h1>
        <p class="lead">Este sera el sitio web de la butique Bella Flor... en donde la dueña es la mujer mas hermosa de este mundo!.</p>
        <hr class="my-4">
        <p>Chigueguencha.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Comprar</a>
    </div>

{{> footer }}
    

